body {
    font-family: "Roboto", sans-serif;
    background-color: #090040;
    color: white;
    margin-top: 10%;
}

.top {
    display: flex;

}
.desc {
    width: 50%;
}

.top h1 {
    font-size: 3rem;
    font-weight: 600;
    background: linear-gradient(90deg,#471396 20%, #B13BFF 80%);
    padding-left: 70px;
    margin-right: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 108px 108px 0px;
    animation: myfirst  linear 2s ;
}
.top p {
    width: 70%;
    font-size: 19px;
    margin-left: 10%;
}
.top p span {
    color: #B13BFF;
    font-weight: 500;
}
.top ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    width: 200px;
    font-size: 30px;
    margin-top: -10px;
}
.image  img{
    border-radius: 50px;
    animation: mysecond  linear 2s ;

}
.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
@keyframes myfirst {
  0%   {margin-left: 100px; opacity: 0;}
  100% {margin-left: 0; opacity: 1;}
}
@keyframes mysecond {
  0%   {margin-top: -10px; opacity: 0;}
  100% {margin-top: 10px; opacity: 1;}
}
@media screen and (max-width: 700px) {
    .top {
        display: block;
        text-align: center;
    }
    .desc {
        width: 100%;
    }
    .top h1 {
        font-size: 23px;
        text-align: center;
        margin: 0;
        padding: 0;
        animation: mysecond  linear 2s ;
    }
    .top p {
        font-size: 16px;
        text-align: center;
    }
    .top ul {
        font-size: 26px;
        margin-top: 10px;
    }
    .image {
        width: 100%;
        padding: none;
    }
    .image img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}